html {
    scroll-behavior: smooth;
}

/* NAVBAR */
#nav-link-container {
    display: flex;
    margin-left: auto;
    display: flex;
    margin-left: auto;
}
#nav-faq-link {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-mypage-link {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mockdataoutput h6 {
    border-bottom: 1px dotted black;
}

/* FAQ PAGE */
#faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    #faq-card-container {
        display: flex;
        width: 50%;
        justify-content: center;

        .card {
            margin-top: 5%;
            padding: 3%;
        }
    }

    #faq-text-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 50%;
        margin: 3rem 0 3rem 0;
    }
    #faq-header {
        background-color: #305160;
        width: 50%;
        border-radius: 20px;
        color: #0ac9f0;
        padding: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
}

/* SEARCHBAR */

#searchbar-container {
    #filter-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        .filter {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        input[type='checkbox'] {
            height: 2rem;
            width: 2rem;
        }
    }

    #searchpage-products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        .card {
            box-shadow: 0 0 10px #719ece;
        }
    }

    .searchbar-results-container-active {
        background-color: #f8f9fa;
        padding: 3rem 3rem 3rem 3rem;
    }
}

/* SEARCH PAGE */
#searchPage-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 15rem 3rem 15rem;
}

/* PRODUCT PAGE */
#product-page-container {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#product-page-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    height: 25% !important;
    width: 60%;
    text-align: center;
}

#product-image {
    display: flex;
    width: 25rem;
    max-height: 35rem;
}

#product-page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-left: 46%;
}

#product-page-extended-description {
    margin-top: 1rem;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}

/*POST PRODUCT*/
.modal-dialog {
    width: 40rem;
}

#PostProductModal {
    display: flex;
}

/*FOOTER*/
.footer {
    background-color: white;
    box-shadow: 0 0 10px #719ece;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    .footer-container {
        display: flex;
        justify-content: center;
    }
}

/* SCROLL BUTTON */
.scroll-to-top-btn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 5px 2px #719ece;
}
.scroll-to-top-btn.show {
    opacity: 1;
    transition: opacity 0.5s ease;
    box-shadow: 0 5px 2px #719ece;
}
.scroll-to-top-btn:hover {
    background-color: #0a58ca;
}
