/* HOMEPAGE */
#home-card-container {
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
}

/* ICON */
#home-icon {
    width: 7em;
    height: auto;
}

#homepage-products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    background-color: #f8f9fa;
    padding: 2rem;
    padding-bottom: 1rem;
    margin: 0 5rem 2rem 5rem;
}

.card {
    box-shadow: 0 0 10px #719ece;
}
#home-card-btn {
    display: flex;
    justify-content: center;
}

#homepage-slogan-container {
    width: 85%;
    border-radius: 10px;

    h1 {
        padding-top: 2rem;
        display: flex;
        justify-content: left;
        font-size: 3.75rem;
        line-height: 4.5rem;
        color: white;
        margin-left: 10%;
        text-shadow: 0 2px 1px #020202, -1px 3px 1px #000000,
            -2px 5px 1px #000000;
    }

    p {
        display: flex;
        justify-content: left;
        font-size: 20px;
        color: white;
        margin-left: 12%;
        text-shadow: 0 1px 1px rgba(2, 2, 2, 0.7),
            -1px 2px 1px rgba(0, 0, 0, 0.5), -2px 3px 1px rgba(0, 0, 0, 0.3);
    }
}

#homepage-jumbo {
    background-image: url('../assets/x-auction-header.jpg');
    background-size: cover;
    background-position: center;
    height: 10rem;
    width: 100%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px;
}

#home-cards {
    transition: all 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* The flip card animation appears on hover */
@media screen and (min-width: 992px) {
    #home-cards:hover {
        transform: translateY(-10px) scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
    }
}

#home-card-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#homepage-products-container {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#homepage-products-container::-webkit-scrollbar,
#filtered-products-container::-webkit-scrollbar,
#recent-sold-container::-webkit-scrollbar {
    width: 8px;
}

#homepage-products-container::-webkit-scrollbar-track,
#filtered-products-container::-webkit-scrollbar-track,
#recent-sold-container::-webkit-scrollbar-track {
    background: transparent;
}

#homepage-products-container::-webkit-scrollbar-thumb,
#filtered-products-container::-webkit-scrollbar-thumb,
#recent-sold-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

#homepage-products-container::-webkit-scrollbar-thumb:hover,
#filtered-products-container::-webkit-scrollbar-thumb:hover,
#recent-sold-container::-webkit-scrollbar-thumb:hover {
    background: #999;
}

#recent-sold-container {
    height: 10rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

#recently-sold-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#recent-sold-ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

#recent-sold-li {
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10%;
}

#recent-sold-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100rem !important;
    height: 10rem;
    border: 1px solid #0000002f;
    background-color: #f8f9fa;
    margin-top: 15rem;
    margin-bottom: 10rem;
    border-radius: 10px;
}

#recent-sold-p {
    width: 10rem;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 5px;
}

#filtered-products-container {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    height: 50rem;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
}

#filtered-products-container .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#filtered-products-parent {
    width: 1000rem !important;
}

#filtered-products-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}
