#mypage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section-titles-mypage {
    margin-top: 1.5rem;
}

#mypage-card {
    max-width: 25rem;
    margin-right: 10vw;
}

#user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mypage-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
    background-color: #f8f9fa;
    margin-bottom: 3rem;
    border-radius: 2rem;
}

.ads-card-container-mypage {
    display: flex;
    gap: 3rem;
    margin: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#bid-history-section {
    width: 50vw;
}

#bid-history-title {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#bid-history-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 1rem;
}

.bid-history-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
}

.bid-history-item-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-link {
    text-decoration: none;
}

.product-image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.product-name {
    margin-right: 1rem;
}

.won-lost {
    color: inherit; /* Inherit text color from parent */
    margin-left: auto;
}

.bid-history-btn-and-li-div {
}

.show-bids-button {
    display: flex;
    flex-direction: column;
}

.bid-history-ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-indent: -2rem;
    padding-top: 0.5rem;
}
