#mypage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section-titles-mypage {
    margin-top: 1.5rem;
}

#mypage-card {
    max-width: 25rem;
    margin-right: 10vw;
}

#user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mypage-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    margin: 0 auto;
    background-color: #f8f9fa;
    margin-bottom: 3rem;
    border-radius: 2rem;
}

.ads-card-container-mypage {
    display: flex;
    gap: 3rem;
    margin: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#bid-history-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#bid-history-section {
    width: 50vw;

}
