#nav-link-container {
  display: flex;
  margin-left: auto;
}

#nav-faq-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-mypage-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-card-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem;
}

#home-card-btn {
  display: flex;
  justify-content: center;
}
