#nav-link-container {
  display: flex;
  margin-left: auto;
  display: flex;
  margin-left: auto;
}

#nav-faq-link {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-mypage-link {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mockdataoutput h6 {
  border-bottom: 1px dotted black;
}

#home-card-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem;
}

#home-card-btn {
  display: flex;
  justify-content: center;
}

#faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #faq-card-container {
    display: flex;
    width: 50%;
    justify-content: center;

    .card {
      margin-top: 5%;
    }
  }

  #faq-text-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    margin: 3rem 0 3rem 0;

    div:not:first-of-type {
    }
  }
  #faq-header {
    background-color: #7749f8;
    width: 50%;
    border-radius: 20px;
    color: white;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
}
